body {
    padding-top: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.control-group input, .control-group textarea {
    margin-left: 20px;
}

.thumbnails .caption {
    margin-left: 220px;
}

.thumbnails img {
    padding-top: 20px;
    width: 160px;
}

#nav-top a {
    font-size: 24px;
    color: deeppink;
;
    padding-left: 35px;
}
.presentation{
    margin: 40px auto;
    font-size:50px;
    text-align: center;
}
.presentation h1 {
    color: #0063c2;
}
#img-main{
    margin:0 auto;
}

/*Searchbar*/

#searchbar {
    margin: 27px 0 0;
    padding: 0;
}

#searchbar .search-query {
    padding-right: 3px;
    padding-right: 4px;
    padding-left: 3px;
    padding-left: 4px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#searchbar button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #0063c2;
}

.search-query:focus + button {
    z-index: 3;
}