<div class="container">
    <header>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Modifier (le film qui a l'index récupéré)</h3>
    </header>
    <section>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="title" class="control-label col-sm-2">Nom du film </label>
                <div class="col-sm-10">
                    <input id="title" class="form-control" type="text" ng-model="movie.title" placeholder="movies.index.title ou un truc comme ca">
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="control-label col-sm-2">Année de sortie</label>
                <div class="col-sm-10">
                    <input id="year" class="form-control" type="text" ng-model="movie.releaseYear" placeholder="movies.index.releaseYear ou un truc comme ca">
                </div>
            </div>
            <div class="form-group">
                <label for="directors" class="control-label col-sm-2">Producteur</label>
                <div class="col-sm-10">
                    <input id="directors" class="form-control" type="text" ng-model="movie.directors" placeholder="movies.index.director ou un truc comme ca">
                </div>
            </div>
            <div class="form-group">
                <label for="actors" class="control-label col-sm-2">Acteurs :</label>
                <div class="col-sm-10">
                    <input id="actors" class="form-control" type="text" ng-model="movie.actors" placeholder="movies.index.actor ou un truc comme ca">
                </div>
            </div>
            <div class="form-group">
                <label for="synopsis" class="control-label col-sm-2">Synopsis :</label>
                <div class="col-sm-10">
                    <textarea id="synopsis" class="form-control" ng-model="movie.synopsis" placeholder="movies.index.synopsis ou un truc comme ca"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="rate" class="control-label col-sm-2">Note :</label>
                <div class="col-sm-10">
                    <input id="rate" type="number" class="form-control" placeholder="movies.index.rate ou un truc comme ca"
                           ng-model="movie.rate">
                </div>
            </div>
        </form>
    </section>
    <footer>
        <button class="btn btn-success">Modifier</button>
        <button class="btn btn-danger btn-small">Annuler</button>
    </footer>
</div>
