<div class="container">

    <header class="well">
        <h3>Modification</h3>
    </header>
    <div class="container">
        <img ng-src="{{movie.poster}}" class="col-sm-2">
        <form class="form-horizontal col-sm-10" role="form">
            <div class="form-group">
                <label for="title" class="control-label col-sm-2">Nom du film </label>
                <div class="col-sm-10">
                    <input id="title" class="form-control" type="text" ng-model="movie.title">
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="control-label col-sm-2">Année de sortie</label>
                <div class="col-sm-10">
                    <input id="year" class="form-control" type="text" ng-model="movie.releaseYear">
                </div>
            </div>
            <div class="form-group">
                <label for="directors" class="control-label col-sm-2">Producteur</label>
                <div class="col-sm-10">
                    <input id="directors" class="form-control" type="text" ng-model="movie.directors">
                </div>
            </div>
            <div class="form-group">
                <label for="actors" class="control-label col-sm-2">Acteurs :</label>
                <div class="col-sm-10">
                    <input id="actors" class="form-control" type="text" ng-model="movie.actors">
                </div>
            </div>
            <div class="form-group">
                <label for="synopsis" class="control-label col-sm-2">Synopsis :</label>
                <div class="col-sm-10">
                    <textarea id="synopsis" class="form-control" ng-model="movie.synopsis"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="rate" class="control-label col-sm-2">Note :</label>
                <div class="col-sm-10">
                    <input id="rate" type="number" class="form-control"
                           ng-model="movie.rate">
                </div>
            </div>
        </form>
    </div>
    <div class="well">
        <button class="btn btn-danger btn-small" ng-click="goto('/movies')">Annuler</button>
        <button class="btn btn-success" ng-click="editMovie(movie)">Modifier</button>
    </div>
</div>
