<!--Voir comment sortir le modal, je n'y arrive pas-->
<section class="container">
    <!--ng-controller="MoviesController"-->
    <div class="page-header container">
        <div class="col-sm-8">
            <h1>Dans ma vidéothèque
                <small>{{movies.length}} films</small>
                <button class="btn btn-primary" data-toggle="modal" data-target="#movie-form-modal">
                    Ajouter un film
                </button>
            </h1>
        </div>
        <div class="input-group col-sm-4" id="searchbar">
            <input type="text" class="search-query form-control" ng-model="search" placeholder="Recherchez"/>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
        </div>
    </div>
    <div id="sortering" class="container">
        <div class="pull-right">
            <span>Trier par : </span>
            <button class="btn btn-secondary btn-xs" ng-click="predicate='title'">Titre</button>
            <button class="btn btn-secondary btn-xs" ng-click="predicate='releaseYear'">Année</button>
        </div>
    </div>

    <ul class="thumbnails list-unstyled">
        <li ng-repeat="movie in movies | filter : search | orderBy: predicate" class="col-sm-12">
            <img ng-src="{{movie.poster | poster}}" class="col-sm-2">
            <div class="caption">
                <h3>{{movie.title | uppercase }}
                    <button class="btn btn-primary" ng-click="gotoEdit('/edit/'+$index)"><span
                            class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-primary" ng-click="deleteMovie(movie)"><span
                            class="glyphicon glyphicon-trash"></span></button>
                </h3>
                <p><strong>réalisateur :</strong> {{movie.directors}}</p>
                <p><strong>acteurs :</strong> {{movie.actors}}</p>
                <p><strong>année </strong>: {{movie.releaseYear}}</p>
                <p><strong>résumé :</strong> {{movie.synopsis}}</p>
                <p><strong>date :</strong> {{movie.lastViewDate | date:'dd/MM/yyyy @ h:mma'}}</p>
                <p><strong>avis :</strong> {{movie.rate | stars}}</p>
                <p><strong>prix :</strong> {{movie.price | currency : "€"}}</p>
            </div>
        </li>
    </ul>


    <!--Le modal avec le formulaire (à sortir de là)-->
    <div id="movie-form-modal" class="modal fade" ng-controller="MovieFormController">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ajouter un film</h3>
                </header>
                <section class="modal-body">
                    <form class="form-horizontal" name="movieForm" role="form" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error' : movieForm.inputTitle.$invalid && !movieForm.inputTitle.$pristine}">
                            <label for="title" class="control-label col-sm-2">Nom du film </label>
                            <div class="col-sm-10">
                                <input id="title" name="inputTitle" class="form-control" type="text"
                                       ng-model="movie.title" required>

                                <div ng-show="movieForm.inputTitle.$invalid && !movieForm.inputTitle.$pristine"
                                     class="help-block">
                                    Le titre est requis.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="control-label col-sm-2">Année de sortie</label>
                            <div class="col-sm-10">
                                <input id="year" class="form-control" type="text" ng-model="movie.releaseYear">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="directors" class="control-label col-sm-2">Producteur</label>
                            <div class="col-sm-10">
                                <input id="directors" class="form-control" type="text" ng-model="movie.directors">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="actors" class="control-label col-sm-2">Acteurs :</label>
                            <div class="col-sm-10">
                                <input id="actors" class="form-control" type="text" ng-model="movie.actors">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="synopsis" class="control-label col-sm-2">Synopsis :</label>
                            <div class="col-sm-10">
                                <textarea id="synopsis" class="form-control" ng-model="movie.synopsis"></textarea>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : movieForm.inputRate.$invalid && !movieForm.inputRate.$pristine}">
                            <label for="rate" class="control-label col-sm-2">Note :</label>
                            <div class="col-sm-10">
                                <input id="rate" name="inputRate" type="number" class="form-control"
                                       placeholder="entre 1 et 5"
                                       ng-model="movie.rate" ng-pattern="/^[0-5]$/">
                                <div ng-show="movieForm.inputRate.$invalid && !movieForm.inputRate.$pristine"
                                     class="help-block">Mettre un nombre entier de 1 à 5
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="submitMovie(movie)"
                            ng-disabled="movieForm.$invalid">Ajouter le
                        film
                    </button>
                    <button class="btn btn-danger btn-small" data-dismiss="modal">Annuler</button>
                </footer>
            </div>
        </div>
    </div>
</section>
