<!DOCTYPE html>
<html lang="fr" ng-app="myApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>exo</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

<section ng-controller="AddMoviesController" class="container">
    <button>Rechercher un film</button>
    <form action="#" role="form" class="col-lg-4">
        <h1>Ajouter un film</h1>
        <div class="form-group">
            <label for="title">Nom du film </label>
            <input id="title"  class="form-control" type="text" ng-model="movie.title" placeholder="titre">
        </div>
        <div class="form-group">
            <label for="year">Année </label>
            <input id="year" class="form-control" type="text" ng-model="movie.releaseYear" placeholder="année">
        </div>
        <div class="form-group">
            <label for="directors">Producteur </label>
            <input id="directors" class="form-control" type="text" ng-model="movie.releaseYear" placeholder="année">
        </div>
        <br>
        <button ng-click="submitMovie(movie)">Ajouter le film à la liste</button>
    </form>
</section>
<section ng-controller="ShowMoviesController" class="container">
    <h1>Ma liste de film</h1>
    <ul class="list-unstyled" ng-repeat="movie in movies">
        <li>titre : {{movie.title}}</li>
        <li>réalisateur : {{movie.directors}}</li>
        <li>acteurs : {{movie.actors}}</li>
        <li>année : {{movie.releaseYear}}</li>
        <li>résumé : {{movie.synopsis}}</li>
        <li>avis : {{movie.rate}}</li>
    </ul>
    <p>Nombre de films : {{movies.length}}</p>
</section>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>